@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>
        this is my 
    </h2>
    <h2>
     this is my new text manu
    </h2>
    <h3>
        avunu nen manu ne
    </h3>
    <div>
        Manu 

    </div>
    manu ki e angle ante ekkuva istam
</div>
