@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Index</title>
    </head>
   <body>
       <h2>

           hey hello guys
       </h2>
       <h3>
           hi
       </h3>
   </body>
</html>   
